{
  "repo_ssh_url": "git@github.com:Felix3322/GitHubStreaker-test.git",
  "repo_path": "./heatmap-repo",
  "github_username": "Felix3322",
  "committer_name": "Heatmap Bot",
  "committer_email": "bot@example.com",
  "data_dir": "heatmap",
  "mode": "pattern",
  "start_from_next_sunday": true,
  "daily_commit_count": 0,
  "weeks": 52
}